.search-results {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;

  &-tools {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    span {
      font-size: 1.5rem;
      font-weight: 500;
      color: $color-primary;
    }

    .select {
      font-size: 1.5rem;
      font-weight: 500;
      border: none;

      &:focus {
        outline: none;
      }
    }
  }

}



.results {
  list-style: none;
  margin-bottom: 2rem;
}

.pagination {
  margin-top: auto;
  padding: 0 3.5rem;

  &::after {
    content: '';
    display: table;
    clear: both;
  }

  &__btn {
    &--prev {
      float: left;
    }
    &--next {
      float: right;
    }
  }

  &__pages {
    margin-left: 4.5rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: $color-primary;
  }
}

.copyright {
  color: $color-grey-dark-2;
  font-size: 1.2rem;
  padding: 0 3.5rem;
  margin-top: 4rem;

  .twitter-link:link,
  .twitter-link:visited {
    color: $color-grey-dark-2;
  }
}
